$def with (form,result)
<html>
    <head>
        <LINK REL=StyleSheet HREF="static/css/estilo2.css" media="screen" TYPE="text/css" >

        <title> VIDEO CLUB </title>
    </head>
        
    <body>
        <center>
        <h1 bgcolor="black">VIDEO CLUB </h1>
        </center>

<form name="main" method="post"> 
$if not form.valid: <p class="error">Try again:</p>
$:form.render()

<input type="submit"  />    </form>

<center>
<table border=1 bordercolor="silver" bgcolor="black"><td><font color="white">
    <th class="tr1"> pelicula</th>
    <th class="tr1"> formato</th>
     <th class="tr1"> cliente</th>
    <th class="tr1"> tiempo</th>
     <th class="tr1"> total</th>
     $for row in result:
      <tr>
          <td >$row.pelicula</td> 
          <td >$row.formato</td> 
          <td >$row.cliente</td> 
          <td >$row.tiempo </td> 
          <td >$row.total </td>
      </tr>
</table>
    </center>


</body>
      
    
</html>
